<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label "Birthday (dd/mm/yy)" %><br>
    <%= f.text_field :birthday %>
    <!-- <%= select_date Date.today, prefix: :start_date %> -->
  </div>

  <div class="field">
    <%= f.label :position_id %><br>
    <%= collection_select(:member, :position_id, Position.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :team_id %><br>
    <%= collection_select(:member, :team_id, Team.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
